.navContent {
    display: flex;
    align-items: center;
}

.logo {
    height: 40px;
}

.navContainer {
    background: #0D0628;
    padding: 15px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.brand {
    margin-left: 20px;
    font-size: 30px;
    color: yellow;
    font-family: "Alata,sans-serif";
}

.pizzaContainer {
    display: flex;
}

.pizzaGrid {
    flex: 1;
    padding: 40px;
}

.pizzaMaking {
    max-height: 500px;
    max-width: 500px;
    position: relative;
}




body {
    margin: 0;
  }
  
  .ingredients {
    position: absolute;
    margin-top: -100px;
  }
  
  .cheese {
    width: 100%;
    position: absolute;
  }
  
  /* The container */
  .container-checkbox {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default checkbox */
  .container-checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }
  
  /* Create a custom checkbox */
  .container-checkbox .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    background-color: #eee;
  }
  
  /* On mouse-over, add a grey background color */
  .container-checkbox:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  /* When the checkbox is checked, add a blue background */
  .container-checkbox input:checked ~ .checkmark {
    left: 9px;

}
